.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .MuiButton-root {
    margin: 20px 0 0 0;
    width: 15%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}